<ion-modal-view 
	id="loading-modal" 
	ng-controller="LoadingCtrl" 
	cache-view="false" 
	ng-class="{ fail: currentStep.status === 'fail', loading: currentStep.status === 'loading', success: currentStep.status === 'success' }"
>
	<ion-header-bar>
		<h1 class="title">{{ currentStep.title }}</h1>
		<div class="buttons">
			<button class="button button-clear" ng-click="hide()">fechar</button>
		</div>
	</ion-header-bar>
	<ion-content class="has-header" scroll="false" padding="true">

		<ion-spinner ng-show="currentStep.status === 'loading'" icon="spiral"></ion-spinner>
		<i class="icon ion-close" ng-show="currentStep.status === 'fail'"></i>

		<i class="icon ion-checkmark" ng-show="currentStep.status === 'success'"></i>


		</div>
		<div class="row row-center">
			<div class="col col-center">
				{{ currentStep.label }}
			</div>
		</div>
	</ion-content>
</ion-modal-view>
