<div class="bottom-panel">


	<div class="row row-top">
		<div class="col">
			<button
				class="button button-block button-energized"
				type="submit"
			>item</button>
		</div>
		<div class="col">
			<button
				class="button button-block button-energized"
				type="submit"
			>item2</button>
		</div>
		<div class="col">
			<button
				class="button button-block button-energized"
				type="submit"
			>item3</button>
		</div>
	</div>

	<div class="row row-top">
		<div class="col">
			<button
				class="button button-block button-energized"
				type="submit"
			>item</button>
		</div>
		<div class="col">
			<button
				class="button button-block button-energized"
				type="submit"
			>item2</button>
		</div>
		<div class="col">
			<button
				class="button button-block button-energized"
				type="submit"
			>item3</button>
		</div>
	</div>


	<div class="row">

		<div class="col">

			<button
				class="button button-block button-energized"
				type="submit"
			>Enviar cobrança</button>
		</div>
	</div>
</div>